<section>
    <mat-toolbar color="primary">phonebook</mat-toolbar>
      <mat-card id="mat1" *ngIf="!show">
        <mat-form-field>
          <mat-label>search here</mat-label>
          <input class="input" type="text" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
          <router-outlet></router-outlet>
          <div class="main">

          
          <mat-action-row>
            <mat-paginator [length]="totalPosts" [pageSize]="userPerPage"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)">
           </mat-paginator>
          </mat-action-row>
            <mat-action-row>
            <button mat-button (click)="onAdd()"><mat-icon color="primary">add</mat-icon></button>
          </mat-action-row>
        </div>
      </mat-card>
      <mat-card id="mat1" *ngIf="show">
        <mat-form-field>
          <router-outlet></router-outlet>
        </mat-form-field>

      </mat-card>
   
</section>